[submodule "frontend"]
  path = frontend
  url = git@github.com:michaperki/betmate-frontend.git

[submodule "backend"]
  path = backend
  url = git@github.com:michaperki/betmate-backend.git

[submodule "microservice"]
  path = microservice
  url = git@github.com:michaperki/betmate-model-microservice.git
  ignore = dirty
